@model MeyawoPortfolio.Models.TblAbout
@{ 
    ViewBag.Title = "UpdateAbout";
    Layout = "~/Views/AdminLayout/_Layout.cshtml";
}

<h2>Hakkımda'yı Güncelleme Sayfası'</h2>
<form method="post">
    <label>Hakkımda Id</label>
    <input type="text" class="table table-bordered" value="@Model.AboutID" name="AboutId" />
    <br />
    <label>Başlık</label>
    <input type="text" class="table table-bordered" value="@Model.Title" name="Title" />
    <br />
    <label>Header</label>
    <input type="text" class="table table-bordered" value="@Model.Header" name="Header" />
    <br />
    <label>Açıklama</label>
    <textarea rows="10" class="table table-bordered" name="Description">@Model.Description</textarea>
    <br />
    <label>Hakkımda Görseli</label>
    <input type="text" class="table table-bordered" value="@Model.IImageUrl" name="IImageUrl" />
    <br />
    <button class="btn btn-info">Hakkımdayı Güncelle</button>

</form>

