
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminLayout/_Layout.cshtml";
}

<h2>İstatistikler</h2>

<div class="alert alert-danger">Kategori Sayısı: @ViewBag.categoryCount</div>
<div class="alert alert-warning">Proje Sayısı: @ViewBag.projectCount</div>
<div class="alert alert-info">Mesaj Sayısı: @ViewBag.messageCount</div>

<div class="alert alert-dark">Flutter Proje Sayısı: @ViewBag.flutterProjectCount</div>
<div class="alert alert-dark">Python Proje Sayısı: @ViewBag.pythonProjectCount</div>
<div class="alert alert-dark">C# Proje Sayısı: @ViewBag.cSharpProjectCount</div>
<div class="alert alert-dark">Mvc Proje Sayısı: @ViewBag.mvcProjectCount</div>
<div class="alert alert-dark">Core Proje Sayısı: @ViewBag.coreProjectCount</div>
<div class="alert alert-dark">React Proje Sayısı: @ViewBag.reactProjectCount</div>

<div class="alert alert-primary">Okunmamış Mesaj Sayısı: @ViewBag.isNotReadMessageCount</div>
<div class="alert alert-success">Eklenen Son Proje: @ViewBag.lastProjectName</div>
<div class="alert alert-secondary">Eklenen Son Referans Yorumu: @ViewBag.lastReferanceComment</div>
<div class="alert alert-link">Referans Sayısı: @ViewBag.testimonialCount</div>
<div class="alert alert-heading">Sosyal Medya Sayısı: @ViewBag.socialMediaCount</div>



